1\. **Text files**

Perform the following operations on plain `txt` files:

+ create a list of integrer numbers and then save it to a text file named `data_int.txt`. Run the `cat` command to print the content of the file.
+ create a matrix of 5x5 floats and then save it to a text file named `data_float.txt`. Use the `cat` command to print the content of the file.
+ load the `txt` file of the previous point and convert it to a `csv` file by hand.

In [32]:
import numpy as np
import csv
from random import randrange
from os import system

# 1 crete and save data_int.txt
list = []
for i in range(100):
    list.append(randrange(100))
print(list)

txt_file = open("data_int.txt", "w")
for element in list:
    txt_file.write(str(element) + " ")
txt_file.close()

system("cat data_int.txt")

# 5x5 floats
matrix = np.random.rand(5, 5)
txt_file2 = open("data_float.txt", "w")
for element in matrix:
    txt_file2.write(str(element) + " ")
txt_file2.close()
system("cat data_float.txt")

# txt convert to csv
with open('data_float.txt', 'r') as in_file:
    stripped = (line.strip() for line in in_file)
    lines = (line.split(",") for line in stripped if line)
    with open('data_float.csv', 'w') as out_file:
        writer = csv.writer(out_file)
        writer.writerows(lines)
system("cat data_float.csv")

[67, 10, 65, 49, 62, 49, 50, 14, 28, 46, 20, 54, 75, 19, 34, 82, 34, 52, 73, 5, 94, 88, 4, 62, 21, 26, 8, 0, 71, 32, 24, 4, 11, 92, 32, 22, 16, 79, 22, 71, 80, 34, 59, 22, 5, 74, 19, 24, 50, 97, 99, 79, 64, 29, 12, 56, 70, 90, 50, 8, 41, 40, 0, 82, 45, 20, 44, 67, 81, 77, 97, 61, 70, 84, 29, 10, 77, 18, 53, 90, 10, 1, 8, 34, 24, 50, 23, 41, 12, 14, 86, 44, 11, 4, 19, 36, 18, 86, 83, 38]
67 10 65 49 62 49 50 14 28 46 20 54 75 19 34 82 34 52 73 5 94 88 4 62 21 26 8 0 71 32 24 4 11 92 32 22 16 79 22 71 80 34 59 22 5 74 19 24 50 97 99 79 64 29 12 56 70 90 50 8 41 40 0 82 45 20 44 67 81 77 97 61 70 84 29 10 77 18 53 90 10 1 8 34 24 50 23 41 12 14 86 44 11 4 19 36 18 86 83 38 [0.97244247 0.01554655 0.57493303 0.58277689 0.78054901] [0.11495134 0.5924458  0.42825044 0.12335759 0.20362403] [0.36006082 0.72709555 0.74968675 0.47166933 0.57662972] [0.04284741 0.51308072 0.12484319 0.89421807 0.01386045] [0.37837431 0.94165233 0.2699947  0.29943881 0.23631015] [0.97244247 0.01554655 0.57493303 0.58277689 0.78054901] [0.11495134 0.5924458  0.42825044 0.12335759 0.20362403] [0.36006082 0.72709555 0.74968675 0.47166933 0.57662972] [0.04284741 0.51308072 0.12484319 0.89421807 0.01386045] [0.37837431 0.94165233 0.2699947  0.29943881 0.23631015]

0

2\. **JSON files**

Load the file `user_data.json`, which can be found at:

- https://www.dropbox.com/s/sz5klcdpckc39hd/user_data.json

and filter the data by the "CreditCardType" when it equals to "American Express". Than save the data to a new CSV file.

In [8]:
import pandas as pd
file = pd.read_json("user_data.json")
file = file[(file['CreditCardType'] == "American Express")]
print(file)

      ID               JobTitle                       EmailAddress  \
1      2    Investment  Advisor       Clint_Thorpe5003@bulaffy.com
11    12         Retail Trainee   Phillip_Carpenter9505@famism.biz
27    28        Project Manager        Russel_Graves1378@extex.org
38    39            Stockbroker       Leanne_Newton1268@typill.biz
56    57         Budget Analyst          Tony_Giles1960@iatim.tech
61    62           CNC Operator        Owen_Allcott5125@bauros.biz
67    68        Project Manager           Liam_Lynn3280@kideod.biz
73    74                Dentist      Regina_Woodcock5820@yahoo.com
80    81          HR Specialist       Carter_Wallace9614@atink.com
91    92    Staffing Consultant           Maia_Stark2797@jiman.org
96    97            Stockbroker          Ciara_Lomax982@bauros.biz
115  116    Staffing Consultant      Isabel_Ellwood1475@fuliss.net
147  148           CNC Operator  Abdul_Townend2202@infotech44.tech
149  150             Fabricator        Caleb_Poulton1735@atink.com
150  151     Restaurant Manager         Ronald_Lewis6777@deavo.com
153  154                Bellman        Faith_Seymour3829@twace.org
168  169        Assistant Buyer      Anthony_Hancock9083@qater.org
175  176  Healthcare Specialist    Isabella_Willson5478@nanoff.biz
181  182             Pharmacist     Stephanie_Darcy3298@bauros.biz
198  199    Investment  Advisor         Ryan_Kennedy5565@corti.com

     FirstNameLastName           CreditCard    CreditCardType
1         Clint Thorpe  7083-8766-0251-2345  American Express
11   Phillip Carpenter  3657-0088-0820-5247  American Express
27       Russel Graves  6718-4818-8011-6024  American Express
38       Leanne Newton  5438-0816-4166-4847  American Express
56          Tony Giles  8130-3425-7573-7745  American Express
61        Owen Allcott  4156-0107-7210-2630  American Express
67           Liam Lynn  7152-3247-6053-2233  American Express
73     Regina Woodcock  0208-1753-3870-8002  American Express
80      Carter Wallace  4256-7201-6717-4322  American Express
91          Maia Stark  3851-1403-1734-6321  American Express
96         Ciara Lomax  3702-3440-2472-5424  American Express
115     Isabel Ellwood  3738-0882-0066-6683  American Express
147      Abdul Townend  4224-1226-3557-3448  American Express
149      Caleb Poulton  8203-6875-5225-0341  American Express
150       Ronald Lewis  7212-0155-5014-8471  American Express
153      Faith Seymour  4170-5186-6887-6558  American Express
168    Anthony Hancock  0832-3357-6010-6550  American Express
175   Isabella Willson  5177-4868-4623-0384  American Express
181    Stephanie Darcy  0264-4020-5106-5576  American Express
198       Ryan Kennedy  3166-6287-6242-7207  American Express

3\. **CSV files with Pandas**

Load the file from this url:

- https://www.dropbox.com/s/kgshemfgk22iy79/mushrooms_categorized.csv

with Pandas. 

+ explore and print the DataFrame
+ calculate, using `groupby()`, the average value of each feature, separately for each class
+ save the file in a JSON format.

In [7]:
data = pd.read_csv("mushrooms_categorized.csv")
data =data.groupby('class').mean()
print(data)
data.to_json('mushrooms_categorized.json')

system("cat mushrooms_categorized.json")

       cap-shape  cap-surface  cap-color   bruises      odor  gill-attachment  \
class
0       3.266160     1.615970   4.581749  0.653992  4.334601         0.954373
1       3.436159     2.055158   4.421859  0.159346  3.940756         0.995403

       gill-spacing  gill-size  gill-color  stalk-shape  ...  \
class                                                    ...
0          0.285171   0.068441    6.622624     0.615970  ...
1          0.028601   0.567926    2.863636     0.514811  ...

       stalk-surface-below-ring  stalk-color-above-ring  \
class
0                      1.798479                6.098859
1                      1.394280                5.512768

       stalk-color-below-ring  veil-type  veil-color  ring-number  ring-type  \
class
0                    6.064639        0.0    1.931559     1.125475   3.007605
1                    5.504597        0.0    2.002043     1.009193   1.522983

       spore-print-color  population   habitat
class
0               3.201521    3.283270  1.148289
1               4.021450    4.031665  1.895812

[2 rows x 22 columns]
{"cap-shape":{"0":3.2661596958,"1":3.4361593463},"cap-surface":{"0":1.6159695817,"1":2.0551583248},"cap-color":{"0":4.5817490494,"1":4.4218590398},"bruises":{"0":0.6539923954,"1":0.1593462717},"odor":{"0":4.3346007605,"1":3.9407558733},"gill-attachment":{"0":0.9543726236,"1":0.9954034729},"gill-spacing":{"0":0.2851711027,"1":0.0286006129},"gill-size":{"0":0.0684410646,"1":0.5679264556},"gill-color":{"0":6.6226235741,"1":2.8636363636},"stalk-shape":{"0":0.6159695817,"1":0.5148110317},"stalk-root":{"0":1.4980988593,"1":0.6925434116},"stalk-surface-above-ring":{"0":1.7756653992,"1":1.3595505618},"stalk-surface-below-ring":{"0":1.7984790875,"1":1.3942798774},"stalk-color-above-ring":{"0":6.0988593156,"1":5.5127681307},"stalk-color-below-ring":{"0":6.0646387833,"1":5.5045965271},"veil-type":{"0":0.0,"1":0.0},"veil-color":{"0":1.9315589354,"1":2.0020429009},"ring-number":{"0":1.1254752852,"1":1.0091930541},"ring-type":{"0":3.0076045627,"1":1.5229826353},"spore-print-color":{"0":3.2015209125,"1":4.0214504597},"population":{"0":3.283269962,"1":4.0316649642},"habitat":{"0":1.1482889734,"1":1.8958120531}}

0

4\. **Reading a database**

Get the database `sakila.db` from the lecture `06_dataio.ipynb`, and import the table `actors` as a Pandas dataframe. Using the dataframe, count how many actors have a first name that begins with `A`.

*Hint:* use the Series `.str` method to apply the Python string methods to the elements of a Series, see [documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.html).

In [8]:
!wget https://gist.github.com/Piyush3dB/726bf7012785d6e0fd691c3655c92654/raw/2c17ccb2eb33b3396bfa96284c53f0718a4ea62c/sakila.db -P ./data/

--2023-12-07 17:24:02--  https://gist.github.com/Piyush3dB/726bf7012785d6e0fd691c3655c92654/raw/2c17ccb2eb33b3396bfa96284c53f0718a4ea62c/sakila.db
Resolving gist.github.com (gist.github.com)... 140.82.121.4
Connecting to gist.github.com (gist.github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://gist.githubusercontent.com/Piyush3dB/726bf7012785d6e0fd691c3655c92654/raw/2c17ccb2eb33b3396bfa96284c53f0718a4ea62c/sakila.db [following]
--2023-12-07 17:24:02--  https://gist.githubusercontent.com/Piyush3dB/726bf7012785d6e0fd691c3655c92654/raw/2c17ccb2eb33b3396bfa96284c53f0718a4ea62c/sakila.db
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5828608 (5.6M) [application/octet-stream]
Saving to: ‘./data/sakila.db.2’

sakila.db.2         100%[===================>]   5.56M  33.1MB/s    in 0.2s

2023-12-07 17:24:02 (33.1 MB/s) - ‘./data/sakila.db.2’ saved [5828608/5828608]

In [12]:
# import dependency
import sqlite3 as sql
import pandas as pd

# create a connection to the database and a cursor to execute queries
conn = sql.connect('sakila.db')
cur = conn.cursor()

# query data from database: select all content from the table "actor"
query = "SELECT * FROM actor"
results = cur.execute(query).fetchall()

df = pd.DataFrame(results)
print(df[df[1].str.startswith('A')].shape[0])
df

13

       0         1             2                    3
0      1  PENELOPE       GUINESS  2019-02-16 18:17:33
1      2      NICK      WAHLBERG  2019-02-16 18:17:33
2      3        ED         CHASE  2019-02-16 18:17:33
3      4  JENNIFER         DAVIS  2019-02-16 18:17:33
4      5    JOHNNY  LOLLOBRIGIDA  2019-02-16 18:17:33
..   ...       ...           ...                  ...
195  196      BELA        WALKEN  2019-02-16 18:17:33
196  197     REESE          WEST  2019-02-16 18:17:33
197  198      MARY        KEITEL  2019-02-16 18:17:33
198  199     JULIA       FAWCETT  2019-02-16 18:17:33
199  200     THORA        TEMPLE  2019-02-16 18:17:33

[200 rows x 4 columns]

5\. **Reading the credit card numbers**

Get the binary file named `credit_card.dat` from this address:

- https://www.dropbox.com/s/8m0syw2tkul3dap/credit_card.dat

and convert the data into the real credit card number, knowing that:
- each line corresponds to a credit card number, which consists of 16 characters (which are numbers in the 0-9 range) divided in 4 blocks, with a whitespace between each block
- each character is written using a 6 bit binary representation (including the whitespace)
- the final 4 bits of each line are a padding used to determine the end of the line, and can be ignored

*Hint*: convert the binary numbers to the decimal representation first, and then use the `chr()` function to convert the latter to a char

In [10]:
import pandas as pd
file_name = 'credit_card.dat'
credit_cards = []
with open(file_name, mode='r') as f:
    for line in f:
        n = 6
        bin_chars = [line[i:i + n] for i in range(0, len(line) - 5, n)]

        card_number = ""
        for char in bin_chars:
            card_number += chr(int(char, 2))

        credit_cards.append(card_number)

print(credit_cards)

['7648 5673 3775 2271', '3257 8247 3354 2266', '2722 0001 4011 6652', '0661 3063 3742 3150', '0432 1608 1462 4742', '5827 2027 8785 7303', '5774 8528 2087 1117', '8140 1210 6352 2845', '5764 1133 7301 7100', '6456 1737 4126 6726', '1228 8631 7382 0000', '7051 0160 5374 3166', '0618 3587 1630 6376', '1545 5454 7444 5636', '6735 3116 3202 6834', '7287 5011 1547 8413', '7033 2607 3328 4200', '2568 5244 1874 5024', '1684 2253 7570 7118', '0672 2576 0575 6631', '6332 8353 8787 1340', '1813 3361 1175 4211', '2477 6450 8840 2368', '5512 3505 2563 1326', '3083 7882 0621 0025', '4521 5148 8045 0334', '7563 3654 8713 5787', '8324 2664 0476 5561', '0565 2504 7168 3510', '5107 5507 1767 0738', '2462 1821 2448 1443', '2788 0638 6861 6554', '5851 5873 5474 0547', '0670 1004 4013 2655', '5874 5506 3048 0806', '2805 5401 8462 1260', '5083 8406 6310 1862', '1076 1445 3013 2266', '8440 4804 4844 5277', '4758 6141 0686 1387', '7586 0675 0315 2568', '2544 1258 7432 5165', '3474 5023 4434 5626', '1410 0270 0434 5086', '7315 4446 1104 4215', '0224 7742 8300 0266', '0170 2700 3145 0640', '2006 2437 8054 1600', '8142 4055 1776 0026', '3026 7380 1241 1084', '']

6\. **Write data to a binary file**

a) Start from the `data/data_000637.txt` file that we have used during the previous lectures, and convert it to a binary file according to the format defined below:

In [ ]:
from IPython.display import Image
Image("images/data_format.png")

*Hints*:
- Read the first 10 lines using Pandas
- Iterate over the DataFrame rows
- For every row, "pack" the values (features) into a single 64-bit word, according to the format specified above. Use bit-wise shifts and operators to do so.
- Write each 64-bit word to a binary file. You can use `struct` in this way:
```
binary_file.write( struct.pack('<q', word) )
```
where `word` is the 64-bit word.
- Close the file after completing the loop.

b) Check that the binary file is correctly written by reading it with the code used in the lecture `06_dataio.ipynb`, and verify that the content of the `txt` and binary files is consistent.

c) What is the difference of the size on disk between equivalent `txt` and binary files?

In [27]:
import struct
from IPython.display import Image
Image("data_format.png")

file_name= "data/data_000637.txt"
data = pd.read_csv(file_name, nrows=10, skiprows=range(1,1))
columns = ['HEAD', 'FPGA', 'CHANNEL', 'ORBIT_CNT', 'BX_CNT', 'TDC_MEAS']

with open('bin_file.dat','wb') as binary_file:
    for i in range(len(data)):
        head = data['HEAD'].loc[i]
        fpga = data['FPGA'].loc[i]
        tdc_channel = data['TDC_CHANNEL'].loc[i]
        orbit_cnt = data['ORBIT_CNT'].loc[i]
        bx_cnt = data['BX_COUNTER'].loc[i]
        tdc_meas = data['TDC_MEAS'].loc[i]
        
        
        
        b_head = int(bin((head & 0x3))[2:].zfill(2),2) << 62
        b_fpga = int(bin(fpga & 0xF)[2:].zfill(4),2) << 58
        b_tdc_channel = int(bin(tdc_channel & 0x1FF)[2:].zfill(9),2) << 49
        b_orbit_cnt = int(bin(orbit_cnt & 0xFFFFFFFF)[2:].zfill(32),2) << 17
        bbx_cnt = int(bin(bx_cnt & 0xFFF)[2:].zfill(12),2) << 5
        b_tdc_meas = int(bin(tdc_meas & 0x1F)[2:].zfill(5),2) << 0



        words = b_head|b_fpga|b_tdc_channel|b_orbit_cnt|bbx_cnt|b_tdc_meas
        print('\n64-Bit Word for row %d:' %i,words)
        binary_file.write( struct.pack('<q', words) )
binary_file.close()



print('\n\nOriginal Data from Text File Before Conversion:')
data

64-Bit Word for row 0: 4681436006502574298

64-Bit Word for row 1: 4681998956455995611

64-Bit Word for row 2: 4647659009297301308

64-Bit Word for row 3: 4648221959250722771

64-Bit Word for row 4: 4648221959250729241

64-Bit Word for row 5: 4647659009297307972

64-Bit Word for row 6: 4646533109390465678

64-Bit Word for row 7: 4690443205757328128

64-Bit Word for row 8: 4647096059343887061

64-Bit Word for row 9: 4645970159437044871


Original Data from Text File Before Conversion:

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0     1     0          123  3869200167        2374        26
1     1     0          124  3869200167        2374        27
2     1     0           63  3869200167        2553        28
3     1     0           64  3869200167        2558        19
4     1     0           64  3869200167        2760        25
5     1     0           63  3869200167        2762         4
6     1     0           61  3869200167        2772        14
7     1     0          139  3869200167        2776         0
8     1     0           62  3869200167        2774        21
9     1     0           60  3869200167        2788         7